footer
  min-height: 50% !important
  padding-top: 64px

  .social
    font-size: 64px !important

  p
    padding-top: 32px
    font-size: 12px
    a
      text-decoration: none


a
  i
    &:hover
      color: $persian-green
