.home-wrap
  header
    width: 100%
    background-color: rgba(0,0,0,0)
    padding: 0
    //display: inline

    .header-position
      position: absolute
      width: 100%
      z-index: 1

      //display: inline
      // flex-direction: row
      //justify-content: space-between

    a
      color: white

      &:hover, &:active
        color: #999


    .logo
      +hide-text
      max-width: 135px
      background:
        image: url(/assets/images/logo.svg)
        repeat: no-repeat
        position: center
        size: contain
        //color: pink
      height: 80px
      padding: 0
      margin: 15px 0
      float: left


    // Desktop Nav
    .site-nav

      float: right

      ul
        list-style: none
        display: inline-block

        li
          float: left
          padding: 0 25px
          display: inline-block
          text-align: justify
          font-weight: bold
          //display: inline
          //margin-bottom: 10px

          //&:last-child
          //  margin-bottom: 0


    // Mobile Toggle
    .mobile-nav-toggle
      display: none
      float: right
      width: 50px
      height: 50px
      //background: pink
      margin: 20px
      align-items: center
      cursor: pointer

      &:selection
        background: transparent

      &:-moz-selection
        background: transparent

      span,
      span:before,
      span:after
        content: ""
        display: block
        height: 2px
        width: 100%
        background: #d3d3d3
        position: relative

        transition: all 0.3s ease-in-out

      span:before
        top: 15px

      span:after
        top: -17px

      &.is-open span
        background: transparent

      &.is-open span:before,
      &.is-open span:after
        transform-origin: center
        transform: rotate(45deg)
        top: 0

      &.is-open span:before
        transform: rotate(-45deg)


  // Mobile Nav
  .mobile-nav
    display: none
    position: absolute
    z-index: 1
    width: 100%
    background: white
    transform: translateY(-100%)
    transition: all 0.3s ease-in-out

    a
      color: #999

      &:hover, &:active
        color: #666


    ul
      list-style: none
      margin: 0
      padding: 0

    li
      text-align: center
      margin-bottom: 10px

@media (max-width: 775px)
  .home-wrap
    header
      width: 100%
      padding: 0

      .header-position
        width: 100%
        position: absolute
        z-index: 1
        align-items: center

      .site-nav,
      .email-link
        display: none

      .logo
        height: 64px

      .mobile-nav-toggle
        display: flex

    .mobile-nav.is-open
      display: block
      transform: translateY(0%)
