<div class="container" id="connect">
  <div class="content padding-32">
    <h3 class="center">CONNECT WITH JOANNA</h3>
    <p class="center">Check out Joanna's <a href="assets/media/resume.pdf" target="_blank">Resume</a>.</p>
    <form action="https://formspree.io/joanna.s.obrien@gmail.com"
      method="POST">
      <input class="input border" type="text" name="name" placeholder="Your name...">
      <input class="input border right" type="email" name="_replyto" placeholder="Your email...">
      <input type="hidden" name="_subject" value="Connect from Website">
      <textarea class="input border" name="message" placeholder="Your message to Joanna..." rows="8" cols="80"></textarea>
      <br>
      <input type="text" name="_gotcha" style="display:none">
      <button id="submit" class="button black section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
</div>
