<footer class="center bgimg-3 opacity hover-opacity-off">
  <a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
  <div class="xlarge section">
    <!-- <a href="#"><i class="fa fa-facebook-official hover-opacity"></i></a> -->
    <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram hover-opacity social"></i></a>
    <!-- <i class="fa fa-snapchat hover-opacity"></i> -->
    <!-- <i class="fa fa-pinterest-p hover-opacity"></i> -->
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter hover-opacity social"></i></a>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin hover-opacity social"></i></a>
  </div>
  <p>Created by <a href="http://bradywalsh.me" title="Brady Walsh" target="_blank" class="hover-text-green">Brady Walsh</a></p>
</footer>
