<div class="top">
  <div class="bar" id="myNavbar">
    <a id="bar" class="bar-item button hover-black hide-medium hide-large right" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="bar-item button">HOME</a>
    <a href="#about" class="bar-item button hide-small">ABOUT</a>
    <a href="#portfolio" class="bar-item button hide-small">PORTFOLIO</a>
    <!-- <a href="#news" class="bar-item button hide-small">NEWS</a> -->
    <a href="#connect" class="bar-item button hide-small">CONNECT</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="bar-block hide hide-large hide-medium">
    <a href="#about" class="bar-item button">ABOUT</a>
    <a href="#portfolio" class="bar-item button">PORTFOLIO</a>
    <!-- <a href="#news" class="bar-item button">NEWS</a> -->
    <a href="#connect" class="bar-item button">CONNECT</a>
  </div>
</div>
