<div class="mobile-nav">
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#connect">Connect</a></li>
  </ul>
</div>
<header>
  <div class="header-position">
    <h1 class="logo">Joanna Shea O'Brien</h1>
    <nav class="site-nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#connect">Connect</a></li>
      </ul>
    </nav>
    <div class="mobile-nav-toggle">
      <span></span>
    </div>
  </div>
</header>
