<div class="container" id="portfolio">
  <div class="content padding-32">
    <h3 class="center">DIGITAL PORTFOLIO</h3>
    <div class="flex-container">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <a href="http://www.bidmc.org/timeline/index.html" target="_blank"><img src="assets/images/BIDPortfolio.png" /></a>
            <p></p>
          </li>
          <li>
            <a href="http://marathon.neu.edu/" target="_blank"><img src="assets/images/OurMarathonPortfolio.png" /></a>
            <p></p>
          </li>
          <li>
            <a href="http://library.columbia.edu/locations/ccoh/digital/9-11.html" target="_blank"><img src="assets/images/911Portfolio.png"/></a>
            <p></p>
          </li>
          <li>
            <a href="assets/media/JBJSArticle.pdf" target="_blank"><img src="assets/images/jbjsPortfolio.png" alt=""></a>
            <p></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
