---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: rgb(241,238,233);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
}

main {
  margin-bottom: 240px;
}

.site-title {
  margin-top: 10px;
  line-height: 25px;
  font-weight: 400;
}

#subtitle {
  font-size: 18px;
  border-top: -20px;
  color: #808080;
  font-weight: 300;
}

.about p img {
  float: right;
}

.about {

}
