---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: rgb(241,238,233);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
}

main {
  margin-bottom: 240px;
}

.site-title {
  margin-top: 10px;
  line-height: 25px;
  font-weight: 400;
  &:hover {
    text-decoration: none;
  }
}

#subtitle {
  font-size: 18px;
  border-top: -20px;
  color: #808080;
  font-weight: 300;
}

.about {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  h1 {
    font-size: 24px;
    font-weight: 500px;
    line-height: 26.4px;
    color: #808080;
  }
  p {
    font-weight: 400;
    img {
      margin-left: 10px;
      float: right;
    }
  }
}

.digital-portfolio {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  h1 {
    font-size: 24px;
    font-weight: 500px;
    line-height: 26.4px;
    color: #808080;
  }
}

@media only screen and (max-width: 500px) {
  main {
    margin-bottom: 340px;
  }
  footer {
      height: 300px;
  }
}
